@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');


/*INÍCIO DA PÁGINA CONTATO*/
input, textarea{
  border-radius:10px;
  width:90%;
  padding:10px;
  font: 1em sans-serif;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #999;
}
input::placeholder {
  color: red;
  font-family: 'Open Sans', sans-serif;
}
input:invalid, textarea:invalid{
  border-color: rgb(153, 6, 6);
}

input:valid{
  border-color: green;
}

select{
  border-radius:10px;
  width:93%;
  padding:10px;
  font: 1em sans-serif;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #999;
}

#botao{text-align: left;}

article {
  display:table-cell;
  float:left;
  width: 160%;
  margin: 50px;
}

article h3 {
  color:#242529;
  font-size: 20px;
  font-weight:bold;
  margin:10px;
  font-family:'Open Sans', sans-serif;
}

.txtCont p{
  display:table-cell;
  color:#121420;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size:30px;
  text-align: justify;
  padding:0 60px 0 0px;
 
}
.tituloH2{
  color:#242529;
  font-size:40px;
}

.btnContato{
  background-color: white;
  height: 60px;
  width: 120px;
  margin-left: 38%;
  margin-top: 0px;
  border: gray 1px solid;
  box-shadow:grey 3px 3px 3px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  text-decoration: black;  
  font-weight:bold;
  font-size:16px;
}
.btnContato:hover{
  background-color: gainsboro;
  box-shadow:black 3px 3px 3px;
}

.secaoContato{
  display: flex;
  justify-content: space-between;
}
/*FIM DA PÁGINA CONTATO*/