@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

/*INÍCIO DA PÁGINA CONTATO*/
.card{
  width: 40%;
  margin-left: auto;
}

input, textarea{
  width: 95%;
  margin-bottom: 2em;
  display: inline-block;
  font: 1em sans-serif;
  border: 2px solid #999;
}

input:invalid, textarea:invalid{
  border-color: rgb(231, 147, 147);
}

input:valid{
  border-color: green;
}

label{
  font-weight: bold;
  padding-bottom: 1px;
  display: inline-block;
}

article {
  display:table-cell;
  float:right;
  width: 100%;
  margin: 2%;
}


/*FIM DA PÁGINA CONTATO*/