@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(20, 0, 131);
}
.tituloNoticia{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(20, 0, 131);
  height: 10px;
}
.textoNoticias{
    text-align: justify;
    height: 80px;
}
.btnNoticias{
    background-color: white;
    height: 60px;
    margin-left: 38%;
    margin-top: 0px;
    border: gray 1px solid;
    box-shadow:grey 3px 3px 3px;
}
.btnNoticias:hover{
    background-color: gainsboro;
    box-shadow:black 3px 3px 3px;
}
.imagemNoticia{
    width: 520px;
    height: 380px;
    border-radius: 5px;
    box-shadow:gray 3px 3px 3px;
}
.imagemNoticia:hover{
  box-shadow:black 3px 3px 3px;
}
.secao-noticiais-home{
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-top: -20px;
    padding: 60px;
}

.divTextoNoticias{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 47%;
    background-color: #F2F2F2;
}

.sptfy{
    width:40%;
    height:232px;
    Border: 0;
    margin-top: 20px;
    box-shadow:gray 3px 3px 3px;
}
.sptfy:hover{
    box-shadow:black 3px 3px 3px;
}
.audioHome{
    border: gray 3px solid;
    height: 56px;
    width: 360px;
    border-radius: 30px;
    margin-top: 70px;
    margin-right: 160px;
    box-shadow:gray 3px 3px 3px;
}
.audioHome:hover{
    box-shadow:black 3px 3px 3px;
}

.iframeVideo{
    width: 570px;
    height: 320px;
    box-shadow:gray 3px 3px 3px;
    margin-left: -10px ;
  }
  .iframeVideo:hover{
    box-shadow:black 3px 3px 3px;
  }
 .secaoHomeTop{
    display: flex;
    justify-content: space-between;
    background-image: url('/Image/imagem01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    width: 100%;
  }
.slideContainer {
    width: 100%;
    height: 370px;
}
.imgSlide{
    background-size: cover;
    width: 100%;
    height: 370px;
}
.slide {
  display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}