@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(20, 0, 131);
}
.tituloNoticia{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(20, 0, 131);
  height: 20px;
}
.textoNoticias{
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}
.btnNoticias{
    margin-top: 5px;
    margin-left: 35%;
}
.imagemNoticia{
    width: 200px;
    height: 140px;
    margin-top: 10px;
    margin-left: 30%;
}
.imagemNoticia:hover{
  box-shadow:black 5px 5px 3px;
}
.secao-noticiais-home{
    display: flex;
    justify-content: center;
    height: 370px;
}
.secaoNoticiasLeft{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 47%;
    background-color: #F2F2F2;
}
.secaNoticiasRight{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    width: 47%;
    background-color: #F2F2F2;
}
#secaoNoticiasQuadro{
    display: flex;
    justify-content: space-between;
    height: 360px;
    padding: 20px;
    background-color: #F2F2F2;
}
.sptfy{
    width:90%;
    height:200px;
    Border: 0px;
    margin-top: 20px;
    margin-left: 30px;
}
.audioHome{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: gray 3px solid;
    border-radius: 30px;
}

.secaoHomeTop{
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
  }


/* Slideshow container */
.slideshow-container {
  max-width: 14000px;
  height: 380px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  /*
.secaoHomeTop{
    display: flex;
    justify-content: space-between;
    background-image: url('/Image/imagem01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
  }*/