@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(20, 0, 131);
}
.tituloNoticia{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(20, 0, 131);
  height: 20px;
}
.textoNoticias{
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}
.btnNoticias{
    margin-top: 5px;
    margin-left: 35%;
}
.imagemNoticia{
    width: 200px;
    height: 140px;
    margin-top: 10px;
    margin-left: 30%;
}
.imagemNoticia:hover{
  box-shadow:black 5px 5px 3px;
}
.secao-noticiais-home{
    display: flex;
    justify-content: center;
    height: 370px;
}
.secaoNoticiasLeft{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 47%;
    background-color: #F2F2F2;
}
.secaNoticiasRight{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    width: 47%;
    background-color: #F2F2F2;
}
#secaoNoticiasQuadro{
    display: flex;
    justify-content: space-between;
    height: 360px;
    padding: 20px;
    background-color: #F2F2F2;
}
.sptfy{
    width:90%;
    height:200px;
    Border: 0px;
    margin-top: 20px;
    margin-left: 30px;
}
.audioHome{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: gray 3px solid;
    border-radius: 30px;
}
.secaoHomeTop{
    display: flex;
    justify-content: space-between;
    background-image: url('/Image/imagem01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
  }