body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(56, 56, 56);
}
main{
  padding: 20px;
}

.logotipo{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px; 
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(255,114,0);
  margin-top: 10px;
  margin-left: 20px;
  box-shadow:black 0px 0px 3px;
}
.logotipo:hover{
  box-shadow:black 5px 5px 3px;
}
button{
  background-color: rgb(255,114,0);
  padding: 8px;
  border: rgb(56, 56, 56) 1px solid;
  font-weight: bold;
  border-radius: 10px;
  box-shadow:black 1px 2px 3px;
}
button:hover{
  color:white;
  background-color: rgb(20, 0, 131);
  cursor: pointer;
  text-decoration: none;
  box-shadow:black 5px 5px 3px;
}
.btn{
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 18px;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 56, 56);
  width: 100%;
  margin-top: -6px
}
header nav ul {
  margin: 0px;
  float: right;
}
header nav ul li {
  display: inline-block;
  line-height: 120px;
  margin: 5px;
}
header nav ul li a {
  display: block;
  width: 120px;
  line-height: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav ul li a:link{
  font-size: 16px;
  font-weight:bold;
  color: white;
  text-align: center;
  text-decoration: none;
}
.menu{
  margin-right: 20px;
}
.secao-rodape{
  height: 200px;
}
#rodape{
  display: flex;
  justify-content: center;
  height: 100%;
  background-color:rgb(20, 0, 131);
  padding: 10px;
  box-shadow: black 0px 0px 2px;
}
.receba{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  margin-top: 30px;
}
.rodapeTexto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
  margin-top: 50px;
  font-weight: bold;
}
